# npm dependancies , to reduce uplodaed project .
#node_modules

# dotenv file , it holds sensetive data belongs to infrastructure .
#.env

# Logs
*.log
npm-debug.log*

# file of migration history .
sequelize-meta.json